
    body{ 
      background-color: #0F0E0E ;
      color: #FBF5F3;
    }

    .titulos{
      text-align: center;
      font-weight: bolder;
    }

    .nome{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
    }

    .descricao{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
      text-align: center;
    }

    .alterar{
      color: #FBF5F3;
    }

    .links{
      text-decoration: none;
      background-color: #522B47;
      color: #FBF5F3;
      text-align: center;
    }

    .lista{
      text-align: center;
    }


    h4{
      font-weight: bold;
      font-style: italic;
      background-color: #522B47;
      
    }

    img{
      border-radius: 50%;
      
      margin-left: 45%;
    }