
    body{ 
      background-color: #0F0E0E ;
      color: #FBF5F3;
    }

    .titulos{
      text-align: center;
      font-weight: bolder;
    }

    .nome{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
    }

    .descricao{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
      text-align: center;
    }

    .alterar{
      color: #FBF5F3;
    }

    .links{
      text-decoration: none;
      background-color: #522B47;
      color: #FBF5F3;
      text-align: center;
    }

    .lista{
      text-align: center;
    }


    h4{
      font-weight: bold;
      font-style: italic;
      background-color: #522B47;
      
    }

    div img{
      float: left;
      margin-left: 10px ;
      padding: 10px;
      background-color: #522B47;
    }

    div h4{
     max-width: 340px;
     margin-left: 380px;
     font-size: 33px;
      
    }

    div#nofloat{
      margin-top: 100px;

    }

    ul.impar li:nth-child(odd){
      background-color: rgb(134, 5, 5);
      
    }